<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
<% console %>
<div class="container mt-5" id="home template">
    <h4>home controller</h4>
        <%= current_page?(controller: 'home', action: 'index') %>
    <br>
    <p>current path <%= @current_path %></p>
    <br>
    <p>
        url_for
        <%= url_for(@current_path) %>
    </p>

    <p><%= controller.view_paths %></p>
    <p><%= controller.controller_name %></p>
    <p><%= controller.action_name %></p>
    <p><%= url_for(request.params) %></p>

    <p><%= current_controller %></p>

</div>


